body {
  min-height: 100vh;
  background-image: linear-gradient(#64dbcf, #519ae0);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
input {
  width: 78%;
}
.wrapper {
  max-width: 350px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.result {
  min-height: fit-content;
  height: 100%;
  max-height: 300px;
  overflow-y: auto;
}
.plus {
  background-color: #8e49e8;
  color: #fff;
  max-height: 44px;
  margin-left: 9px;
  font-size: 25px;
}
.plus:hover {
  cursor: pointer;
  background-color: #8e49e890;
}
.task:hover,
.task:active {
  cursor: pointer;
  .del,
  .edit {
    transform: scale(1);
  }
}

.del,
.edit {
  color: #fff;
  background-color: red;
  padding: 10px;
  transform: scale(0);
  transition: ease 0.5s;
}
.edit {
  background-color: rgb(0, 162, 255);
}
